#root {
	width: 90%;
	height: 90%;
}
.app {
	border-radius: 8px 8px 8px 8px;
	display: grid;
	grid-template : "header" 85px "main" 1fr;
	overflow-x: hidden;
    @apply bg-no-repeat bg-cover bg-right;
}

.bg-home{
	background-image: url('/src/assets/Mobile Background Blurs.svg');
}
@media (min-width: 768px){
	.app{
		grid-template : 
		"header extra" 85px 
		"main main" 1fr
		"foter foter" 85px;
		grid-template-columns: 1fr 4fr;
		@apply bg-no-repeat bg-contain bg-right;
	}
	.bg-home{
		background-image: url('/src/assets/Background Blurs.svg');
	}
}


.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}


