p {
    color: white;
    text-align: start;
    margin: 0;
}
#specialty{
    color: #43D9AD;
    font-weight: 400;
    font-size: 1.2rem;
}
#name{
    color: white;
    font-weight: 400;
    font-size: 3.5em;
}



.info{
    margin: 1rem;
}

